{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:react/jsx-runtime"
  ],
  "plugins": ["react", "prettier"],
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "prettier/prettier": [
      "error",
      { "singleQuote": true, "endOfLine": "auto" }
    ],
    "react/jsx-uses-vars": "error",
    "@typescript-eslint/explicit-module-boundary-types": "off"
  },
  "ignorePatterns": ["*.config.js"]
}
